@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 1rem 1rem;
  background-color: rgb(41, 41, 41);
  color: white;
  max-width: 1440px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}

.button {
  background-color: #3db46d;
  border: 2px solid #3db46d;
  outline: none;
  padding: 0.5rem 1rem;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 0.8rem;
  &:hover {
    background-color: transparent;
  }

  &.delete {
    border: 2px solid #eb5757;
    background-color: #eb5757;

    &:hover {
      background-color: transparent;
    }
  }

  &.gray {
    background-color: rgb(211, 209, 209);
    border-color: rgb(211, 209, 209);
    color: black;
    &:hover {
      background-color: transparent;
      color: white;
    }
  }
}

input {
  appearance: none;
  display: block;
  width: 100%;
  margin: 2rem 0;
  border-radius: 12px;
  background-color: transparent;
  border: 2px solid #bdbdbd;
  outline: none;
  padding: 0.4rem 1rem;

  &.file {
    cursor: pointer;
  }
  &:focus {
    border: 2px solid #3db46d;
  }

  &::placeholder {
    color: #bdbdbd;
    font-size: 14px;
  }
}
