.app {
  main {
    display: grid;
    gap: 1rem;
  }
  .no-image {
    font-size: 1.2rem;
    margin-top: 8rem;
    text-align: center;
  }
  @media all and (min-width: 750px) {
    & {
      main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(385px, 1fr));
      }
    }
  }
}
